{% extends "shared/base.html" %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main/version_history.css') }}">
{% endblock %}
{% block page_content %}
<h1 class="title">Version History</h1>
<div class="header">
	<p>The first number in the numbering system, is the year, the second number is for the introduction of new (generally major) features, the third number is for small changes and bugfixes. Earlier versions also have either an 'a' or a 'cb', or 'ob', for 'Alpha', 'Closed Beta' and 'Open Beta' respectively. The date next to each version marks the last time a change was made under that version number.</p>
</div>
<article>
	{#
	<section>
		<h2>2020.1.0a (current)</h2>
		<div class="version-subsection">
			<h3>New Features</h3>
		</div>
		<div class="version-subsection">
			<h3>Changes</h3>
		</div>
		<div class="version-subsection">
			<h3>Bugfixes</h3>
		</div>
	</section>
	#}
	<section>
		<h2 class="section-title">2021.2.0a (current): 2021-02-19</h2>
		<div class="version-subsection">
			<h3 class="subsection-title">New Features</h3>
			<ul>
				<li>(client) The board has undergone significant visual changes (for the better) and been completely refactored to use the third-party js canvas library <a class="outside-link" href="https://konvajs.org/">konva.js</a>. This change allows increased development speed on the visual and interaction aspects of the board.</li>
			</ul>
			<img width="300" src="{{ url_for('static', filename='images/version_history/2021_2_0a/oldboard.png') }}" title="board before" alt="An image of the chessboard before visual changes."><img width="300" src="{{ url_for('static', filename='images/version_history/2021_2_0a/newboard.png') }}" title="board after" alt="An image of the chessboard after visual changes. there's added colors and sharpness">
		</div>
	</section>
	<section>
		<h2 class="section-title">2020.1.0a: 2020-12-18</h2>
		<div class="version-subsection">
			<h3 class="subsection-title">New Features</h3>
			<ul>
				<li>(api) Matches are now created through invites.</li>
			</ul>
		</div>
	</section>
</article>
{% endblock %}