# Shared

*.env
*.pyc
venv/
htmlcov/
.coverage

# Backend

migrations/
app.db
backend/data/certbot/
backend/data/db-client-ssl/
backend/init-letsencrypt.sh

# Frontend
frontend/data/certbot/
frontend/init-letsencrypt.sh