# Configuration for 'coverage'
# Currently testing specifically omits anything other than
# core application modules. When time permits, utility/helper
# modules should also be tested.

[run]
omit =
	venv/*
	tests/*
	*__init__.py
	config.py
	dark_chess_api/templates/*
	dark_chess_api/static/*
	dark_chess_api/modules/docs/*
	dark_chess_api/modules/auth/*
	dark_chess_api/modules/errors/*
	dark_chess_api/modules/utilities/*