.header {
	margin-bottom: 20px;
}

.section-title {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.subsection-title {
	font-size: 1.1rem;
	margin-bottom: 10px;
}

.version-subsection > ul {
	list-style: '→ ';
	list-style-position: inside;
}

img {
	margin: 10px;
}