.chess-board {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(8 , 1fr);
	grid-template-rows: repeat(8 , 1fr);
	--board-length: 500px;
	width: var(--board-length);
	height: var(--board-length);
	border: 1px solid black;
}

#board-canvas {
	border: 2px solid black;
}

.chess-board.inactive {
	pointer-events: none;
}

.board-square {
	border: 1px solid black;
	text-align: center;
	font-size: calc(calc(var(--board-length) / 8) - 10px);
	line-height: calc(var(--board-length) / 8);
}

.board-square:nth-child(16n+2),
.board-square:nth-child(16n+4),
.board-square:nth-child(16n+6),
.board-square:nth-child(16n+8),
.board-square:nth-child(16n+9),
.board-square:nth-child(16n+11),
.board-square:nth-child(16n+13),
.board-square:nth-child(16n+15) {
	background-color: var(--dark-square-lighter);
}

.board-square.move-option {
	background-color: blue;
}

.board-square.selected-square {
	background-color: green;
}

/*.piece {
	font-size: calc(calc(var(--board-length) / 8) - 10px);
	line-height: calc(var(--board-length) / 8);
}*/