{############}
{#  inputs  #}
{############}

{%- macro string_input(input, placeholder, label=False) -%}
<div class="form-input-wrapper">
	{%- if label -%}
	{{ input.label }}
	{%- endif -%}
	{% set kwargs = {} %}
	{% if input.errors %}
		{% set discard = kwargs.__setitem__('class', 'errored')%}
	{% endif %}
	{{ input(**kwargs) }}
	{%- if input.errors -%}
		{%- for error in input.errors -%}
	<ul class="input-error-list">
		<li>{{ error }}</li>
	</ul>
		{%- endfor -%}
	{%- endif -%}
</div>
{%- endmacro -%}