{############}
{#  pieces  #}
{############}

{% macro piece(piece, player_color) %}
{% if player_color == 'white' %}
<i class="fal fa-chess-{{ piece }} piece"></i>
{% else %}
<i class="fas fa-chess-{{ piece }} piece"></i>
{% endif %}
{% endmacro %}

{############}
{#  inputs  #}
{############}

{% macro string_input(input, placeholder=None, label=False, autofocus=False) %}
<div class="form-input-wrapper">
	{% if label %}
	{{ input.label }}
	{% endif %}
	{% set kwargs = {} %}
	{% if input.errors %}
		{% set discard = kwargs.__setitem__('class', 'errored') %}
	{% endif %}
	{% if placeholder %}
		{% set discard = kwargs.__setitem__('placeholder', placeholder) %}
	{% endif %}
	{% if autofocus %}
		{% set discard = kwargs.__setitem__('autofocus', 'true') %}
	{% endif %}
	{{ input(**kwargs) }}
	{% if input.errors %}
		{% for error in input.errors %}
	<ul class="input-error-list">
		<li>{{ error }}</li>
	</ul>
		{% endfor %}
	{% endif %}
</div>
{% endmacro %}

{% macro boolean_input(input, label=False, autofocus=False) -%}
<div class="form-input-wrapper">
	{% if label %}
	{{ input.label }}
	{% endif %}
	{% set kwargs = {} %}
	{% if input.errors %}
		{% set discard = kwargs.__setitem__('class', 'errored') %}
	{% endif %}
	{% if autofocus -%}
		{% set discard = kwargs.__setitem__('autofocus', 'true') %}
	{% endif %}
	{{ input(**kwargs) }}
	{% if input.errors %}
		{% for error in input.errors %}
	<ul class="input-error-list">
		<li>{{ error }}</li>
	</ul>
		{% endfor %}
	{% endif %}
</div>
{% endmacro %}

{##########}
{#  Misc  #}
{##########}

{% macro navigation_link(url, text) %}
{% if request.path == url %}
<a href="{{ url }}" class="current-page">{{ text }}</a>
{%- else %}
<a href="{{ url }}">{{ text }}</a>
{%- endif %}
{% endmacro %}

{% macro match_card(match_data) %}
<div class="match-card">
	<h6>{{ match_data.id }}</h6>
	<a href="{{ url_for('match.match_page', id=match_data.id) }}">Go to match</a>
	{%- if match_data.open %}
	{%- if not (('player_white' in match_data and match_data.player_white.id == current_user.id) or ('player_black' in match_data and match_data.player_black.id == current_user.id)) %}
	<a class="button-link" href="{{ url_for('match.join_match', id=match_data.id) }}">Join Match</a>
	{%- endif %}
	{%- endif %}
</div>
{% endmacro %}