{% extends "shared/base.html" %}
{% from "shared/macros.jinja" import string_input %}
{% block page_content %}
<h2 class="title form-title">Register</h2>
<form action="" method="post" novalidate="">
	{{ form.hidden_tag() }}
	{{ string_input(form.username, 'username', autofocus=True) }}
	{{ string_input(form.email, 'email') }}
	{{ string_input(form.password, 'password') }}
	{{ string_input(form.password_confirmation, 'confirm password') }}
	{{ string_input(form.beta_code, 'invite code')}}
	<button class="button button-navigation">Sign Up</button>
	{# honey pot #}
	{{ string_input(form.first_name, 'first name') }}
</form>
{% endblock %}