{% extends "shared/base.html" %}
{% from "shared/macros.jinja" import string_input, boolean_input %}
{% block page_content %}
<h1>Darkchess</h1>
{% if not current_user.is_authenticated %}
<h2>Log In</h2>
<form action="{{url_for('auth.login')}}" method="post" novalidate="">
	{{ form.hidden_tag() }}
	{{ string_input(form.username, 'username', autofocus=True) }}
	{{ string_input(form.password, 'password') }}
	{{ boolean_input(form.remember_me, label=True) }}
	<button class="button button-navigation">Log In</button>
</form>
<a href="{{ url_for('main.index') }}" class="button button-navigation">Forgot Password?</a>
<a href="{{ url_for('auth.register') }}" class="button button-navigation">Sign Up</a>
{% endif %}
{% endblock %}