{% extends "shared/base.html" %}
{% from "shared/macros.jinja" import user_link %}
{% block page_content %}
<h2>{{ user.username | e }}</h2>
<h4>Friends:</h4>
{% if user.friends %}
<li>
	{% for friend in user.friends %}
	{{ user_link(friend) }}
	{% endfor %}
</li>
{% else %}
<p>None yet</p>
{% endif %}
<div class="card stat-block">
	<ul>
		{% for stat, value in user.stats['games'] %}
		<li>{{stat}}: {{ value }}</li>
		{% endfor %}
	</ul>
	<p>Rating: {{ user.stats['rating'] }}</p>
</div>
{% endblock %}