{% from "shared/macros.jinja" import navigation_link %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% if title %}DarkChess - {{ title }}{% else %}DarkChess{% endif %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link id="dynamic-favicon" rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/shared/normalize.css') }}"> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/shared/reset.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/shared/base.css') }}">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF" crossorigin="anonymous">
		{% block css %}{% endblock %}
	</head>
	<body>
		<nav>
			{% if current_user.is_authenticated %}
			{{ navigation_link(url_for('auth.logout'), 'Log Out') }}
			{{ navigation_link(url_for('match.open_matches'), 'Open Matches') }}
			{{ navigation_link(url_for('match.users_active_matches'), 'My Active Matches') }}
			{{ navigation_link(url_for('user.user_search'), 'User Search') }}
			{{ navigation_link(url_for('user.user_profile', id=current_user.id), 'My Profile') }}
			{% else %}
			{{ navigation_link(url_for('auth.login'), 'Log In') }}
			{{ navigation_link(url_for('auth.register'), 'Sign Up') }}
			{% endif %}
			{% block navigation %}{% endblock %}
		</nav>
		{% with messages = get_flashed_messages(with_categories=True) %}
			{% if messages %}
		<ul id="flash-messages">
				{% for category, message in messages %}
			<li id="flash-message-{{ loop.index }}" class="flash-message flash-category-{{category}}"><span class="flash-message-content">{{ message }}</span><button class="delete-flash-message-button" data-flash-message-id="flash-message-{{ loop.index }}"><i class="fas fa-times"></i></button></li>
				{% endfor %}
		</ul>
			{% endif %}
		{% endwith %}
		{# temporary for style testing #}
		{#<ul id="flash-messages">
			<li id="flash-message-1" class="flash-message flash-category-success"><span class="flash-message-content">Success!</span><button class="delete-flash-message-button" data-flash-message-id="flash-message-1"><i class="fas fa-times"></i></button></li>
			<li id="flash-message-2" class="flash-message flash-category-error"><span class="flash-message-content">Error!</span><button class="delete-flash-message-button" data-flash-message-id="flash-message-2"><i class="fas fa-times"></i></button></li>
			<li id="flash-message-3" class="flash-message flash-category-message"><span class="flash-message-content">Message</span><button class="delete-flash-message-button" data-flash-message-id="flash-message-3"><i class="fas fa-times"></i></button></li>
			<li id="flash-message-4" class="flash-message flash-category-message"><span class="flash-message-content">REALLY LONG MESSAGE THAT WILL SPLIT LINES AND HOPEFULLY EVERYTHING WILL BE CENTERED VERTICALLY OH GOSH I REALLY HOPE SO!!!</span><button class="delete-flash-message-button" data-flash-message-id="flash-message-4"><i class="fas fa-times"></i></button></li>
		</ul>#}
		<div id="page-content">
			{%+ block page_content %}{% endblock %}
		</div>
		<div id="config-params" data-debug="{{config['DEBUG']}}" data-api-root="{{ config['API_ROOT'] }}" hidden></div>
		<script src="{{ url_for('static', filename='javascript/shared/config.js') }}"></script>
		<script src="{{ url_for('static', filename='javascript/shared/utilities.js') }}"></script>
		<script src="{{ url_for('static', filename='javascript/shared/base.js') }}"></script>
		{# Note that sometimes divs will be placed in the `js` block if they #}
		{# serve the purpose of containing data for scripts                  #}
		{% block js %}{% endblock %}
	</body>
</html>