{##############################}
{#  pieces/board/match stuff  #}
{##############################}

{% macro piece(piece, player_color) %}
{% if player_color == 'white' %}
{% set weight = 'l' %}
{% else %}
{% set weight = 's' %}
{% endif %}
{% if piece == 'p' %}
<i class="fa{{ weight }} fa-chess-pawn piece"></i>
{% elif piece == 'r'%}
<i class="fa{{ weight }} fa-chess-rook piece"></i>
{% elif piece == 'n'%}
<i class="fa{{ weight }} fa-chess-knight piece"></i>
{% elif piece == 'b'%}
<i class="fa{{ weight }} fa-chess-bishop piece"></i>
{% elif piece == 'q'%}
<i class="fa{{ weight }} fa-chess-queen piece"></i>
{% elif piece == 'k'%}
<i class="fa{{ weight }} fa-chess-king piece"></i>
{% else %}
<i class="far fa-debug"></i>
{% endif %}
{% endmacro %}

{% macro board(simple_fen) %}
<div class="chess-board">
	{% for number in range(8, 0, -1) %}
		{% set outer_loop = loop %}
		{% for letter in 'abcdefgh' %}
		{% if simple_fen[outer_loop.index0][loop.index0] == '_' %}
	<div id="{{ letter }}{{ number }}" class="board-square"></div>
		{% elif simple_fen[outer_loop.index0][loop.index0] is upper %}
	<div id="{{ letter }}{{ number }}" class="board-square">{{ piece(simple_fen[outer_loop.index0][loop.index0] | lower, 'white') }}</div>
		{% else %}
	<div id="{{ letter }}{{ number }}" class="board-square">{{ piece(simple_fen[outer_loop.index0][loop.index0], 'black') }}</div>
		{% endif %}
		{% endfor %}
	{% endfor %}
</div>
{% endmacro %}

{% macro match_card(match_data) %}
<div class="match-card">
	<div class="card-header">
		{%- if not match_data.open %}
		<h5>({{ match_data.id }}) {% if match_data.player_white.id == current_user.id %}{{ match_data.player_black.username }}{% else %}{{ match_data.player_white.username }}{% endif %}</h5>
		{%- else -%}
		<h5>({{ match_data.id }}) {% if match_data.player_white %}{{ match_data.player_white.username }}{% else %}{{ match_data.player_black.username }}{% endif %}</h5>
		{%- endif %}
	</div>
	<div class="card-actions">
		<a class="button" href="{{ url_for('match.match_page', id=match_data.id) }}">View</a>
		<a class="button" href="{{ url_for('match.match_history', id=match_data.id) }}">history</a>
		{%- if match_data.open %}
		{%- if not (('player_white' in match_data and match_data.player_white.id == current_user.id) or ('player_black' in match_data and match_data.player_black.id == current_user.id)) %}
		<a class="button" class="button-link" href="{{ url_for('match.join_match', id=match_data.id) }}">Join</a>
		{%- endif %}
		{%- endif %}
	</div>
</div>
{% endmacro %}

{% macro match_invite_card(invite) %}
<div class="card match-invite-card">
	<div class="card-header">
		{% if current_user.id == invite.inviter.id %}
		<h3 class="card-title">{% if invite.open %}Open Invite{% else %}To: {{ invite.invited.username }}{% endif %}</h3>
		{% else %}
		<h3 class="card-title">From: {{ invite.inviter.username }}</h3>
		{% endif %}
	</div>
	<div class="card-actions">
		{% if current_user.id == invite.inviter.id %}
		<!-- TODO: Implement -->
		<a class="button" href="{{ url_for('main.index') }}">Cancel</a>
		{% elif invite.open %}
		<a class="button" href="{{ url_for('match.accept_match_invite', id=invite.id) }}">Accept</a>
		{% elif current_user.id == invite.invited.id %}
		<a class="button" href="{{ url_for('match.accept_match_invite', id=invite.id) }}">Accept</a>
		{% else %}
		<p>Hmm... I'm not sure you should be seeing this. Maybe tell the developer.</p>
		{% endif %}
	</div>
</div>
{% endmacro %}

{############}
{#  inputs  #}
{############}

{% macro string_input(input, placeholder=None, label=False, autofocus=False) %}
<div class="form-input-wrapper">
	{% if label %}
	{{ input.label }}
	{% endif %}
	{% set kwargs = {} %}
	{% if input.errors %}
		{% set discard = kwargs.__setitem__('class', 'errored') %}
	{% endif %}
	{% if placeholder %}
		{% set discard = kwargs.__setitem__('placeholder', placeholder) %}
	{% endif %}
	{% if autofocus %}
		{% set discard = kwargs.__setitem__('autofocus', 'true') %}
	{% endif %}
	{{ input(**kwargs) }}
	{% if input.errors %}
		{% for error in input.errors %}
	<ul class="input-error-list">
		<li>{{ error }}</li>
	</ul>
		{% endfor %}
	{% endif %}
</div>
{% endmacro %}

{% macro simple_boolean_input(input, label=False, autofocus=False) -%}
<div class="form-input-wrapper">
	{% if label %}
	{{ input.label }}
	{% endif %}
	{% set kwargs = {} %}
	{% if input.errors %}
		{% set discard = kwargs.__setitem__('class', 'errored') %}
	{% endif %}
	{% if autofocus -%}
		{% set discard = kwargs.__setitem__('autofocus', 'true') %}
	{% endif %}
	{{ input(**kwargs) }}
	{% if input.errors %}
		{% for error in input.errors %}
	<ul class="input-error-list">
		<li>{{ error }}</li>
	</ul>
		{% endfor %}
	{% endif %}
</div>
{% endmacro %}

{% macro boolean_input(input, label=False, autofocus=False) -%}
<div class="form-input-wrapper">
	<div class="slide-toggle-container">
		{% if label %}
		{{ input.label(class="slide-toggle-label") }}
		{% endif %}
		<label class="toggle">
			{% set kwargs = {} %}
			{% if input.errors %}
				{% set discard = kwargs.__setitem__('class', 'errored') %}
			{% endif %}
			{% if autofocus -%}
				{% set discard = kwargs.__setitem__('autofocus', 'true') %}
			{% endif %}
			{{ input(**kwargs) }}
			<span class="slider"></span>
		</label>
	</div>
	{% if input.errors %}
		{% for error in input.errors %}
	<ul class="input-error-list">
		<li>{{ error }}</li>
	</ul>
		{% endfor %}
	{% endif %}
</div>
{% endmacro %}

{##########################}
{#  Links/Represenations  #}
{##########################}

{% macro user_link(user) %}
<a href="{{ url_for('user.user_profile', id=user.id) }}">{{ user.username | e }}</a>
{% endmacro %}

{##########}
{#  Misc  #}
{##########}

{% macro navigation_link(url, text) %}
{% if request.path == url %}
<a href="{{ url }}" class="current-page button button-navigation">{{ text }}</a>
{%- else %}
<a href="{{ url }}" class="button button-navigation">{{ text }}</a>
{%- endif %}
{% endmacro %}