{% extends "shared/base.html" %}
{% from "shared/macros.jinja" import user_link %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/match/board.css') }}">
{% endblock %}
{% block page_content %}
	<a href="{{ url_for('match.match_history', id=match.id) }}">history</a>
	<h2>Match: {{ match.id }}</h2>
	<button id="flip-board-button">⇅</button>
	<div id="player-black" class="player-container">
		{% if match.player_black %}
		<h3 id="player-{{ match.player_black.id }}" class="player-title player-black-title">{{ match.player_black.username }}</h3><i class="far fa-chevron-double-left"></i>
		{{ user_link(match.player_black) }}
		{% endif %}
	</div>
	<!-- <canvas id="board-canvas"></canvas> -->
	<div id="board"></div>
	<div id="player-white" class="player-container">
		{% if match.player_white %}
		<h3 id="player-{{ match.player_white.id }}" class="player-title player-white-title">{{ match.player_white.username }}</h3><i class="far fa-chevron-double-left"></i>
		{{ user_link(match.player_white) }}
		{% endif %}
	</div>
{% endblock %}
{% block js %}
<div id="match-data" data-match-data='{{ match | tojson }}' hidden></div>
<div id="player-data" data-player-data='{{ current_user.as_dict() | tojson }}' hidden></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="{{ url_for('static', filename='javascript/libs/konva.js')}}"></script>
<script src="{{ url_for('static', filename='javascript/match/match.js', v=1) }}"></script>
{% endblock %}